.header {
	padding: 3em;
	text-align: center;
	background: lime;
	color: blue;
}

.navbar {
	background-color: black;
	position: sticky;
	overflow: hidden;
}

.navbar a {
	color: white;
	display: block;
	text-align: center;
	padding: 1em 2em;
	float: left;
	text-decoration: none;
}

.navbar a:HOVER {
	background: gray;
	color: black;
}

.navbar a.active {
	background-color: highlight;
	color: black;
}

@media ( max-width :30em) {
	.navbar a.active {
		width: 100%;
		text-align: left;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.side {
	flex: 20%;
	background-color: silver;
}

.main {
	flex: 80%;
	text-align: center;
}

.image {
	height: 150;
	width: 190;
}

.footer {
	text-align: center;
	background: silver;
	padding: 2em;
}